.main-container {
    margin: 80px auto;
    width: 60%;
}

.main-flex-parent {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.single_article {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem 0;
    font-family: source sans pro,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}
.item-post {
    width: 75%;
}

.single_article h3 {
    font-size: 18px;
}

.article_author {
    display: flex;
    align-items: center;
}

.article_author h4 {
    font-size: 20px;
}

.item-tag {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    margin-right: 20px;
}
.tag-container-parent {
    display: flex;
    flex-wrap: nowrap;
    
    width: 25%;
}
.tag-container-item {
    
}

.tag-container-item a {
    color: #fff;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    background-color: #818a91;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    text-decoration: none;
}